@{
    ViewData["Title"] = "Edit Lists";
}
<div class="row">
    @await Html.PartialAsync("_EditListPartial", new Tuple<string, List<string>>("Rooms", (List<string>)ViewData["Rooms"]))
    @await Html.PartialAsync("_EditListPartial", new Tuple<string, List<string>>("Groups", (List<string>)ViewData["Groups"]))
    @await Html.PartialAsync("_EditListPartial", new Tuple<string, List<string>>("Teachers", (List<string>)ViewData["Teachers"]))
    @await Html.PartialAsync("_EditListPartial", new Tuple<string, List<string>>("Topics", (List<string>)ViewData["Topics"]))
</div>
