@{
    ViewData["Title"] = "Edit Lists";
}
@model ActivityStorage
<div class="row">
    @await Html.PartialAsync("_EditListPartial", new Tuple<string, List<string>>("Rooms", Model.rooms))
    @await Html.PartialAsync("_EditListPartial", new Tuple<string, List<string>>("Groups", Model.groups))
    @await Html.PartialAsync("_EditListPartial", new Tuple<string, List<string>>("Teachers", Model.teachers))
    @await Html.PartialAsync("_EditListPartial", new Tuple<string, List<string>>("Classes", Model.classes))
</div>
